* {
	margin: 0;
	padding: 0;
}
body, html {
    height: 100%;
	width: 100%;
  }
  #header {
    font-family: verdana;
    height: 5%;
	width: 100%;
    text-align: center;
    background-color: rgb(1, 255, 81);
  }

  #vasen {
    font-family: verdana;
    height: 95%;
	width: 50%;
    background-color: rgb(251, 255, 5);
    float: left;
    text-align: center;
  }

  #oikee {
    font-family: verdana;
    height: 95%;
	width: 50%;
    float: left;
    background-color: rgb(255, 128, 1);
    text-align: center;
  }
